<%- include('header') %>

<% if(error) { %>
        <div class="alert alert-danger">
        <h1> <%= error %> </h1>
        </div>

 <% } else { %>
            <div class="alert alert-success">
            <h1>Sub Total: <%= conta %> Reais</h1>
            <h1>Gorgeta(<%=gorgeta %>%): <%= resultado %> Reais</h1>
            <h1>Total: <%= resultadoSoma %> Reais</h1>
                </div>
        <% } %>

<%- include('footer') %>